<div class="boxWrapper">
	<div class="container footerWrapper">
		<div class="footer col-xs-12">
			<p class="pull-left">
			    <a href="/credits">Credits</a>
			</p>
			<p class="pull-right">
			    Made by 
			    <a href="http://iamarshad.com" target="_blank" rel="tooltip" title='<i class="smiley fa fa-smile-o" aria-hidden="true"></i>'>
			        Arshad
			    </a>
			</p>
		</div>
	</div>
</div>
<script>
	var menuIcon = document.querySelector("#menuIcon"),
		sidebar = document.querySelector(".sidebarWrapper");
		
	var openSidebar = function() {
		sidebar.classList.toggle("open");
		setTimeout(function() {sidebar.classList.toggle("visible");}, 200);
		menuIcon.classList.toggle("open");
	}
	
	var closeSidebar = function() {
		sidebar.classList.toggle("visible");
		setTimeout(function() {sidebar.classList.toggle("open");}, 200);
		menuIcon.classList.toggle("open");
	}
	
	menuIcon.addEventListener("click", function(e) {
		if (!e) var e = window.event
    		e.cancelBubble = true;
    	if (e.stopPropagation) 
    		e.stopPropagation()
    	openSidebar();
	});
	
	window.addEventListener("click", function(){
    	if (sidebar.classList.contains("open") && (window.innerWidth > 960)) {
    		closeSidebar();
    	}
	});
</script>
<script src="/common/tooltip.js"></script>