<div id="hideAll" style="display:block;">&nbsp;</div>
<script>
	window.onload=function() {
    	document.getElementById('hideAll').style.display='none';
	}
</script>
<div class="container-fluid header">
	<div class="container">
    	<div class="col-xs-2">
    		<img src="https://polling-app-arshdkhn1.c9users.io/public/img/menu.png" class="navIcons" alt="Menu" id="menuIcon"/>
    	 </div>
    	<div class="col-xs-8 text-center">
    	    <a href="/" id="logo">
    	    	<p>
    	    		<span>
    	    			Polling
    	    		</span>
    	    		App
    	    	</p>
    	    </a>
    	</div>
    	<div class="col-xs-2 text-right">
    	    <a href="">
    	        <img rel="tooltip" title="Create new poll" src="https://polling-app-arshdkhn1.c9users.io/public/img/add.png" class="navIcons" alt="Create Poll" id="newIcon"/>
    	    </a>
    	</div>
	</div>
	<% include ./sidebar %>
</div>