<div class="container-fluid header">
	<div class="container">
    	<div class="col-xs-4">
    	    <a href="">
    	        <img src="https://polling-app-arshdkhn1.c9users.io/public/img/menu.png" class="navIcons" alt="Menu" id="menuIcon"/>
    	    </a>
    	 </div>
    	<div class="col-xs-4 text-center">
    	    <a href="/">
    	        <img src="https://polling-app-arshdkhn1.c9users.io/public/img/logo.png" class="navIcons" alt="Home" id="logoIcon"/>
    	    </a>
    	</div>
    	<div class="col-xs-4 text-right">
    	    <a href="">
    	        <img src="https://polling-app-arshdkhn1.c9users.io/public/img/add.png" class="navIcons" alt="Create Poll" id="newIcon"/>
    	    </a>
    	</div>
	</div>
</div>
