<div class="modalWrapper">
	<div class="modalBox">
		<div class="col-xs-12 marB10">
			<h4>Delete my profile</h4>
		</div>
		<div class="col-xs-12 marB10">
			<p>Deleting profile can't be undone. Your polls will not be automatically deleted along with your profile.</p>
		</div>
		<div class="col-xs-12 text-center marB20">
			<button id="deleteAccBtnFinal">Continue</button>
		</div>
		<div class="col-xs-12 text-center">				
		    <button id="closeModalBtn">Cancel</button>
		</div>
	</div>
</div>
<div id="bkdHider" class="bkdHider"></div>