<div class="col-sm-7 col-xs-12 vleft boxWrapper pollInfoWrapper">
	<div class="box">
		<div class="pollInfo">
			<div class="col-xs-12 heading marB20">
				<h3>What is capital of India?</h3>
			</div>
			<div class="pull-left">
				<button class="votesCount showBtn">10 Votes</button>
				<button class="viewsCount showBtn">20 Views</button>
			</div>
			<div class="pull-right">
				<p class="author text-right"> <span class="authorName">Arshad Khan</span></p>
				<p class="date text-right">26 Dec, 2016</p>
			</div>
		</div>
		<div class="col-xs-12 chartWrapper">	
			<canvas id="myChart"></canvas>
		</div>
	</div>
</div>