<div class="container box post">
	<div class="col-xs-12 questionWrapper">
		<h3 class="question">Yes or No?</h3>
	</div>
	<div class="pull-left">
		<button class="votesCount showBtn">10 Votes</button>
		<button class="viewsCount showBtn">20 Views</button>
	</div>
	<div class="pull-right">
		<p class="author text-right"> <span class="authorName">Arshad Khan</span></p>
		<p class="date text-right">26 Dec, 2016</p>
	</div>
</div>