<div class="boxWrapper">
    <div class="container box profileBox">
    	<div class="col-xs-12 text-center profilePictureWrapper marB20 marT10">
    		<img class="profilePicture" src="<%= img %>" class="navIcons" alt="Profile Picture"/>
    	</div>
    	<div class="col-xs-12 marB30"><h2 class="text-center">Arshad Khan</h2></div>
    	<div class="col-xs-12 text-center userPollsInfo marB20">
    		<p>Polls created:  <span class="pollCreatedCount"><%= pollsCreated %></span></p>
    		<p>Polls voted: <span class="pollVotedCount"><%= pollsVoted %></span></p>
    	</div>
    	<div class="col-xs-12 text-center">
    		
    		<button class="logoutBtn curPoin" onClick="logout();">Logout</button>
    		
    	</div>
    	<div class="col-xs-12 text-center">
    		<a href="">
    			<button class="deleteAccBtn" id="deleteAccBtn">Delete Account</button>
    		</a>
    	</div>
    </div>
</div>

