<div class="boxWrapper">
    <div class="container box profileBox">
    	<div class="col-xs-12 text-center profilePictureWrapper">
    		<img class="profilePicture" src="http://pbs.twimg.com/profile_images/707511429583249409/R8KTn9R5_normal.jpg" class="navIcons" alt="Profile Picture"/>
    	</div>
    	<div class="col-xs-12"><h3 class="text-center">Arshad Khan</h3></div>
    	<div class="col-xs-12 text-center pollInfo">
    		<p>Polls created:  <span class="pollCreatedCount">20</span></p>
    		<p>Polls voted: <span class="pollVotedCount">20</span></p>
    	</div>
    	<div class="col-xs-12 text-center">
    		<a href="/logout">
    			<button class="logoutBtn">Logout</button>
    		</a>
    	</div>
    	<div class="col-xs-12 text-center">
    		<a href="/deleteAccount">
    			<button class="deleteAccBtn">Delete Account</button>
    		</a>
    	</div>
    </div>
</div>

