<div class="boxWrapper vright userControlsWrapper col-sm-5 col-xs-12">
	<div class="box">
		<div class="userControls">
			<div class="col-xs-12 text-center heading marB20">	
				<h3>Vote in this Poll</h3>
			</div>
		    <div class="col-xs-12 text-center">
				<div class="selectWrapper">
				    <select name="pollQuestionMenu" id="pollQuestionMenu">
					    <option value="" disabled selected>Choose an option...</option>
					    <option value="" onClick="this.parentElement.blur();">Option1</option>
					    <option value="" onClick="this.parentElement.blur();">Option2</option>
				    </select>
				</div> 
			</div>
			<div class="col-xs-12 text-center">
			    <a href="">
			        <button class="submitBtn">
			            Submit
			        </button>
			    </a>
			</div>
			<div class="col-xs-12 text-center">
			    <a href="" >
			        <button class="shareBtn fbBtn">
		                Share
		            </button>
		        </a>
		    </div>
		</div>
	</div>
</div>