<div class="userControls">
    <div class="col-xs-12 text-center">
		<div class="selectWrapper">
		    <select name="pollQuestionMenu" id="pollQuestionMenu">
			    <option value="" disabled selected>Choose an option...</option>
			    <option value="">Option1</option>
			    <option value="">Option2</option>
		    </select>
		</div> 
	</div>
	<div class="col-xs-12 text-center">
	    <a href="">
	        <button class="submitBtn">
	            Submit
	        </button>
	    </a>
	</div>
	<div class="col-xs-12 text-center">
	    <a href="" >
	        <button class="shareBtn fbBtn">
	            <i class="fa fa-share" aria-hidden="true"></i>
                Share
            </button>
        </a>
    </div>
</div>