* {
	font-size: 16px;
	color: #2e3d49;
}

body {
	background: #f4f4f4;
}

.boxWrapper {
	overflow: hidden;
	padding: 0 20px;
}

.box {
	box-shadow: 2px 2px 3px 0 hsla(205,5%,48%,.12);
	max-width: 620px;
	border: 1px solid #dbe2e8;
	margin: 40px auto 0 auto;
	padding: 20px;
	background: #fefefe;
}

.box .col-xs-12 {
	padding: 0;
}

h1, h2, h3, h4 {
	font-family: 'Roboto';
	font-weight: 300;
	margin-bottom: 30px;
	line-height: 1.3;
}

p {
	color: #333;
	font-family: 'Source Sans Pro';
	font-weight: 300;
	font-size: 17px;
	line-height: 1.4;
}

.indexFooter .footerWrapper {
	margin-top: 15px;
}

.pollsWrapper {
	margin-top: 40px;
}

/***** Sign In Block CSS starts *****/

p.description {
	text-align: center;
}

button {
	color: #fff;
	text-transform: uppercase;
	font-family: 'Source Sans Pro';
	font-weight: 400;
	padding: 10px;
	font-size: 14px;
	width: 100%;
	max-width: 340px;
	background: transparent;
	border-radius: 5px;
	color: #999;
	border: solid 1px;
	-webkit-transition: color 200ms ease-in, background 200ms ease-in;
	-moz-transition: color 200ms ease-in, background 200ms ease-in;
	-o-transition: color 200ms ease-in, background 200ms ease-in;
	transition: color 200ms ease-in, background 200ms ease-in;
	margin-bottom: 30px;
	outline: none;
}

button:active, button:focus {
	outline: none;
}

button>i.fa {
	color: inherit;
	margin-right: 25px;
}

.fbBtn:hover {
	color: #3b5998;
}

.twitterBtn:hover {
	color: #55ACEE;
}

.googleBtn:hover {
	color: #dd4b39;
}

.githubBtn:hover {
	color: #3a3133;
}

.signinBlock {
	margin-top: 40px;
}


/***** Profile Block CSS starts *****/


.profileBox {
	max-width: 500px;
}

.profilePicture {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	box-sizing: content-box;
	border: solid 4px #fefefe;
	box-shadow: 2px 2px 3px 0 hsla(205,5%,48%,.42);
}

.deleteAccBtn {
	color: rgba(220, 0 ,0 , .5);
	margin-bottom: 0;
}

.deleteAccBtn:hover {
	color: rgba(220, 0 ,0 , .8);
}

.logoutBtn:hover {
	color: #666;
}

.logoutBtn {
	margin-top: 20px;
}

.pollInfo > p > span {
	color: #999;
}

/***** Header CSS starts *****/



.header {
	padding: 20px;
	background: #fefefe;
	box-shadow: 2px 2px 3px 0 hsla(205,5%,48%,.12);
	border-bottom: 1px solid #dbe2e8;
}

.header > .container {
	padding: 0;
	max-width: 860px;
}

#logo {
	text-decoration: none;
}

#logo p, #logo span{
	font-size: 30px;
	margin: 0;
	color: #2e3d49;
	line-height: 1;
}

#logo p>span {
	font-weight: 700;
}

.navIcons {
	width: 30px;
}

#newIcon{
	width: 30px;
	padding: 2px;
}

/***** Poll post styling starts here *****/


.post {
	max-width: 860px;
	box-shadow:  2px 2px 3px 0 hsla(205,5%,48%,.12);
	-moz-box-shadow:  2px 2px 3px 0 hsla(205,5%,48%,.12);
	-webkit-box-shadow:  2px 2px 3px 0 hsla(205,5%,48%,.12);
	-webkit-transition: box-shadow 200ms ease-in;
	-moz-transition: box-shadow 200ms ease-in;
	-o-transition: box-shadow 200ms ease-in;
	transition: box-shadow 200ms ease-in;
	margin: 0 auto 25px auto;
}

.post:hover {
	cursor: pointer;
	box-shadow: 0 .5em 1em 0 rgba(46,61,73,.3);
	-moz-box-shadow: 0 .5em 1em 0 rgba(46,61,73,.3);
	-webkit-box-shadow: 0 .5em 1em 0 rgba(46,61,73,.3);
}

.author, .date, .authorName {
	color: #bbb;
	font-weight: 500;
	font-size: 14px;
	margin: 0;
}

.question {
	margin: 0;
	color: #7d97ad;
}

.authorName {
	color: #888;
}

.questionWrapper {
	margin-bottom: 20px;
}

.showBtn {
	width: auto;
	color: #bbb;
	padding: 7px;
	margin: 0;
	border-color: #ccc;
	cursor: auto;
}

/***** Footer styling starts here *****/


a {
	-webkit-transition: color 100ms ease-in;
	-moz-transition: color 100ms ease-in;
	-o-transition: color 100ms ease-in;
	transition: color 100ms ease-in;
}

.footer>p {
	color: #aaa;
	font-weight: 500;
	font-size: 15px;
}

.footerWrapper {
	max-width: 840px;
	margin: 40px auto 0 auto;
	border-top: solid 1px #ccc;
	padding: 30px 0;
}

.footer a {
	font-size: 15px;
	color: #aaa;
}

.footer a:hover {
	color: #888;
	text-decoration: none;
}

/***** User controls styling starts here *****/

.submitBtn {
	color: #fff;
	background: #7eba7e;
	border: none;
} 

.submitBtn {
	margin-bottom: 20px;
}

.shareBtn {
	margin-bottom: 0;
}

.submitBtn:hover {
	background: #5cb75c;
}

.fbBtn:hover {
	color: #3b5998;
}

.twitterBtn:hover {
	color: #55ACEE;
}

.googleBtn:hover {
	color: #dd4b39;
}

.selectWrapper {
	max-width: 340px;
	margin: auto;
	position: relative;
}

.selectWrapper::before {
	position: absolute;
	top: 18px;
	right: 10px;
	font-size: 9px;
	color: #bbb;
	font-family: "Glyphicons Halflings";
	content: "\e114";	
}

select {
	width: 100%;
	box-shadow: 0 4px 8px 0 rgba(46,61,73,.15);
	-moz-box-shadow: 0 4px 8px 0 rgba(46,61,73,.15);
	-webkit-box-shadow: 0 4px 8px 0 rgba(46,61,73,.15);
	border: solid 1px #ccc;
	padding: 10px 20px 10px 10px;
	margin-bottom: 20px;
	color: #999;
	-webkit-transition: box-shadow 200ms ease-in;
	-moz-transition: box-shadow 200ms ease-in;
	-o-transition: box-shadow 200ms ease-in;
	transition: box-shadow 200ms ease-in;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearence: none;
	-webkit-outline: none !important;
	-moz-outline: none !important;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	background: rgba(239, 239, 239, .2);
    border: solid 1px #ddd;
}

select:focus, select:hover {
	box-shadow: none;
	outline: none;
}

select::-ms-expand {
  display: none;
}

@-moz-document url-prefix() { 
	::-moz-focus-inner {
		border: none;
	} 
}

option {
	font-size: 14px;
	color: #666;
}

option[disabled=true] {
	color: #bbb;
}

/***** Media querries *****/

@media screen and (max-width: 450px) {
	
	h2 {
		font-size: 24px;
	}
	
	h3 {
		font-size: 20px;
	}
	
	.description, p{
		font-size: 16px;
	}
	
	.question {
		font-size: 20px; 
	}
	.author, .date, .authorName, .showBtn {
		font-size: 12px;
	}
	
	.footer>p, .footer a {
		font-size: 14px;
	}
	
	.navIcons, #newIcon {
		width: 20px;
		padding: 0;
	}
	
	#logo p, #logo span {
		font-size: 20px;
	}
}

