<html>
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <header>
            <% include ../partials/header %>
        </header>
        <main>
            <div class="col-xs-12 text-center">
            	<h2>Sign in with</h2>
            </div>
            <div class="col-xs-12 text-center btnWrapper">
            	<div class="col-xs-6 btnSubWrapper text-right btnContent">
            		<button id="fbBtn">
            			<i class="fa fa-facebook" aria-hidden="true"></i>
             			Facebook
            		</button>
            	</div>
            	<div class="col-xs-6 btnSubWrapper"></div>
            </div>
            <div class="col-xs-12 text-center btnWrapper">
            	<div class="col-xs-6 btnSubWrapper"></div>
            	<div class="col-xs-6 btnSubWrapper text-left btnContent">
            		<button id="twitterBtn">
             			Twitter
            			<i class="fa fa-twitter" aria-hidden="true"></i>
            		</button>
            	</div>
            </div>
            <div class="col-xs-12 text-center btnWrapper">
            	<div class="col-xs-6 btnSubWrapper text-right btnContent">
            		<button id="googleBtn">
            			<i class="fa fa-google-plus" aria-hidden="true"></i>
             			Google
            		</button>
            	</div>
            	<div class="col-xs-6 btnSubWrapper"></div>
            </div>
            <div class="col-xs-12 text-center btnWrapper">
            	<div class="col-xs-6 btnSubWrapper"></div>
            	<div class="col-xs-6 btnSubWrapper text-left btnContent">
            		<button id="githubBtn">
            			Github
            			<i class="fa fa-github" aria-hidden="true"></i>
            		</button>
            	</div>
            </div>
        </main>
        <footer>
            <% include ../partials/footer %>
        </footer>
    </body>
</html>